<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hearthstone Classic!</title>
</head>
<body>
    <div class="container">
        <div>Insert Banner Here</div>
        <nav>Navigation Bar Here</nav>
        <div><form action="/index/query" method="POST">
            Search Cards: <input type="text" name="text"><input type="submit" /><br>
            <input type="radio" id="search-card-name" name="search" value="name"><label for="search-card-name">By Name</label>
            <input type="radio" id="search-card-class" name="search" value="playerClass"><label for="search-card-class">By Class</label>
            <input type="radio" id="search-card-cost" name="search" value="cost"><label for="search-card-cost">By Cost</label>
        </form></div>
        <div id="card-container">{% for card in showCards limit:15 %}
            {{ card.name }}
            {{ card.img }}
            {% endfor %}
        </div>
    </div>
</body>
</html>