<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hearthstone Classic!</title>
    <!-- Milligram CSS for Some Default Styling -->
    <!-- Google Fonts -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"
    />
        <!-- CSS Reset -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"
    />

    <!-- Milligram CSS -->
  <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css"
    />  

    <!-- Jquery -->
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <!-- OUR CSS AND JS -->
    <!-- <link rel="stylesheet" href="styles.css" /> -->
    <!-- <script src="/app.js" defer></script> -->
    <style>
      ul {
  list-style-type: none;
  margin-top: -5px;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

li {
  float: left;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

li a.active {
  color: white;
  /* background-color: #04AA6D; */
  background-color: #9b4cca;
}
      </style>
</head>
<body>
    <header>
      <img src="https://i.imgur.com/j0APdMN.png" alt="">
        <ul>
          <li><a class="active" href="/index">Home</a></li>
          {% if username != "" and username != null %}
          <li><a href="/users/myCollections">My Collections</a></li>
          {% endif %}
        </ul>
      </header>
  
      <main>{% block content %}My default content{% endblock %}</main>
  
      <footer></footer>    
</body>
</html>