{% layout "layout.liquid" %} {% block content %}
<div>
    <h1>THIS IS THE EDIT PAGE REDO ALL FIELDS</h1>
  <form action='/index/{{ card._id }}/edit?_method=PUT' method="POST">
    <fieldset>
      <legend>Edit {{ card.name }}</legend>
      <label>Name: <input type="text" name="name" required /> </label>
      <label
        >Image: <input type="text" name="img" required />
      </label>
      <input type="submit" value="Submit Changes" />
    </fieldset>
  </form>
</div>
{% endblock %}