{% layout "layout.liquid" %} {% block content %}
<div>
    <h1>THIS IS THE EDIT PAGE REDO ALL FIELDS</h1>
  <form action="/users/signup" method="POST">
    <fieldset>
      <legend>New User</legend>
      <label>USERNAME: <input type="text" name="username" required /> </label>
      <label
        >PASSWORD: <input type="password" name="password" required />
      </label>
      <input type="submit" value="Create Account" />
    </fieldset>
  </form>
</div>
{% endblock %}