<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hearthstone Classic!</title>
</head>
<body>
    <div class="container">
        <div>Insert Banner Here</div>
        <nav>Navigation Bar Here</nav>
    </div>
</body>
</html>