{% layout "layout.liquid" %} {% block content %}
    <div class="container">
        {% if loggedIn %}
        <div class="loggedin">
        Welcome, <b>{{ username }}</b> ! <a href="/users/logout"><button>Logout</button></a>
        </div>
        {% else %}
        <div>
            Welcome! Not a User?
            <a href="/users/signup"><button>Signup</button></a> | 
            <a href="/users/login"><button>Login</button></a>
            
          </div>
        {% endif %}
        <div id="search-params"><form action="/index/query" method="POST">
            Search Cards: <input type="text" name="text"><input type="submit" /><br>
            <input type="radio" id="search-card-name" name="search" value="name"><label for="search-card-name">By Name</label>
            <input type="radio" id="search-card-class" name="search" value="playerClass"><label for="search-card-class">By Class</label>
            <input type="radio" id="search-card-cost" name="search" value="cost"><label for="search-card-cost">By Cost</label>
        </form></div>
        <!-- {% if username != "" and username != null %}
        <div><a href="/users/myCollections/">My Collections</a></div>
        {% endif %} -->
        <div id="card-container">
            {% for card in showCards limit:30 %}
            <a href="/index/{{ card._id }}"><img src="{{ card.img }}"></a>          
            {% endfor %}
        </div>
    </div>
{% endblock %}